@fa_path: "../../node_modules/font-awesome/less";

@import (less) '../../node_modules/lightslider/dist/css/lightslider.css';
@import 'fonts.less';
@import 'themify-icons.less';
@import "@{fa_path}/variables.less";
@import "@{fa_path}/mixins.less";
@import "@{fa_path}/path.less";
@import "@{fa_path}/core.less";
@import "@{fa_path}/icons.less";

* {
  font-family: 'Inter', sans-serif;
}

html {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  cursor: pointer;
  color: #000000;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: #F58229;
  }
}

p {
  font-size: 14px;
}

header {
  height: 80px;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #FFFFFF;

  .inner {
    width: 1340px;
    margin: 0 auto;

    #mainmenu {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .desktop-logo {
        height: 40px;

        .header-logo {
          height: 40px;
        }
      }

      #navbar {
        ul.nav {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin-left: 20px;
            text-align: center;

            &.active {
              color: #F58229;

              a {
                color: #F58229;
              }
            }
          }
        }
      }
    }
  }
}

#slider {
  display: none;
  margin-top: 80px;

  &.mobile {
    display: none !important;
  }

  &.homepage {
    display: block;
  }

  height: 365px;
  position: relative;

  .slide {
    height: 100%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }

  .bgr {
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;

    .triangle {
      position: absolute;
      top: 0;
      border-bottom: 365px solid #ffffff80;
      border-left: 415px solid transparent;
      height: 0;
      width: 0;

      &.triangle1 {
        left: 0;
        border-right: 144px solid #ffffff80;
      }

      &.triangle2 {
        left: 48px;
        border-right: 96px solid #ffffff80;
      }

      &.triangle3 {
        left: 96px;
        border-right: 48px solid #ffffff80;
      }

      &.triangle-white {
        left: 144px;
        border-bottom: 365px solid #ffffff;
      }
    }

    .white-area {
      position: absolute;
      height: 100%;
      width: calc(~'100% - 559px');
      left: 559px;
      background-color: #ffffff;
    }
  }

  .logo {
    width: 1340px;
    margin: 0 auto;
    position: relative;
    top: -365px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .banner-logo {
      height: 100px;
    }
  }
}

footer {
  width: 100%;
  padding: 54px 0;
  box-sizing: border-box;
  background-color: #2B2A29;
  position: relative;

  .inner {
    width: 1340px;
    margin: 0 auto;

    .logos {
      .desktop-logo-footer {
        height: 40px;

        .footer-logo {
          height: 40px;
        }
      }

      .mobile-logo-footer {
        display: none;
      }
    }

    .footer-body {
      display: flex;
      flex-direction: column;
      margin-top: 54px;

      .footer-body-1 {
        display: flex;
        justify-content: space-between;

        .footer-menu {
          flex-grow: 2;
          display: flex;

          .col {
            flex-grow: 1;

            p {
              margin-top: 0;
              margin-bottom: 25px;
              color: #ffffff;

              a {
                color: #ffffff;

                &:hover, &:focus, &:active {
                  color: #F58229;
                }
              }
            }
          }
        }

        .contacts {
          .data {
            display: flex;

            .fa {
              font-size: 18px;
              margin-right: 15px;
              color: #ffffff;
              display: inline-block;
            }

            p {
              display: inline-block;
              margin-top: 0;
              margin-bottom: 25px;
              color: #ffffff;

              a {
                color: #ffffff;

                &:hover, &:focus, &:active {
                  color: #F58229;
                }
              }
            }
          }
        }
      }

      .footer-social {
        text-align: center;

        p {
          margin-top: 20px;
          margin-bottom: 25px;
          color: #ffffff;

          a {
            display: inline-block;
            font-size: 40px;
            margin: 0 10px;
            color: #ffffff;

            &:hover, &:focus, &:active {
              color: #F58229;
            }

            &.mobile {
              display: none;
            }
          }

          &.copyrights {
            margin-top: 27px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  #autochange {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

.popup-module {
  display: none;
  width: 1100px;
  height: 90%;
  position: fixed;
  top: 5%;
  left: calc(~'50% - 550px');
  background-color: #ffffff;
  z-index: 999;
  border-radius: 10px;
  border: 2px solid #F58229;
  padding: 30px;
  box-sizing: border-box;

  ol.sequense-list {
    counter-reset: item;

    li {
      display: block;
      margin-bottom: 10px;

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 12px;
    right: -21px;
    width: 36px;
    height: 36px;
    background-color: #F58229;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 30px;
    padding-left: 6px;
    padding-top: 6px;

    &:hover, &:focus, &:active {
      cursor: pointer;
      background-color: #EF7221;
    }
  }

  .inner {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .document {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      padding-right: 57px;
      box-sizing: content-box;

      h1 {
        font-family: 'Inter Bold', sans-serif;
        font-size: 32px;
      }

      h2 {
        font-family: 'Inter SemiBold', sans-serif;
        font-size: 24px;
      }
    }
  }
}

#popup-support-form {
  display: none;
  width: 400px;
  height: 755px;
  position: fixed;
  top: calc(~'50% - 378px');
  left: calc(~'50% - 200px');
  padding: 25px 75px;

  &.success-send {
    height: 154px;
    top: calc(~'50% - 77px');
  }

  .form-header {
    font-size: 16px;
    font-weight: bold;
    color: #EF7221;
    margin-top: 0;
    text-align: center;
  }

  .error-msg {
    display: none;
    position: absolute;
    width: calc(~'100% - 154px');
    height: 25px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #FF0000;
    color: #fff;
  }

  .form-body {
    margin-top: 60px;

    .row {
      margin-bottom: 20px;

      label {
        font-size: 12px;
        font-weight: bold;
        color: #EF7221;
      }

      input {
        width: 100%;
        height: 30px;
        border: 1px solid #EF7221;
        font-size: 12px;
        box-sizing: border-box;
        padding: 6px 10px;
        margin-top: 5px;
      }

      textarea {
        resize: none;
        width: 100%;
        border: 1px solid #EF7221;
        font-size: 12px;
        box-sizing: border-box;
        padding: 6px 10px;
        margin-top: 5px;
        height: 89px;
      }
    }

    .files {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .file_upload_container {
        flex: 0 calc(~'50% - 7px');
        border: 1px solid #EF7221;
        height: 60px;
        position: relative;
        margin-bottom: 10px;

        &:hover {
          background-color: #ffe5d4;

          .tooltip.upload-text {
            display: flex;
          }
        }

        label {
          width: 100%;
          height: 100%;
          color: #EF7221;
          display: flex;
          justify-content: center;
          align-items: center;

          .ti {
            font-size: 20px;
          }
        }

        .filename {
          display: none;

          &.active {
            position: absolute;
            top: 2px;
            left: 2px;
            font-size: 12px;
            width: calc(~'100% - 10px');
            text-align: center;
            height: calc(~'100% - 10px');
            padding: 3px;
            color: #EF7221;
            border-radius: 6px;
            -ms-flex-align: center;
            align-items: center;
            overflow: hidden;
          }
        }
      }
    }
  }

  .required-label {
    font-size: 12px;
    font-weight: bold;
    color: #EF7221;
  }

  .request-complete {
    width: 100%;
    height: 34px;
    margin-top: 13px;
    box-sizing: border-box;
    border: 1px solid #EF7221;
    color: #EF7221;
    background-color: #FFFFFF;
    text-align: center;

    &:hover, &:focus, &:active {
      color: #FFFFFF;
      background-color: #EF7221;
      cursor: pointer;
    }
  }

  .success-msg {
    display: none;
    text-align: center;
    font-size: 16px;
    margin: 30px 0;
  }
}

.main-body {
  min-height: 660px;
  width: 1340px;
  margin: 130px auto 50px;

  .btn-default {
    height: 70px;
    line-height: 70px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 24px;

    &:hover, &:focus {
      cursor: pointer;
    }
  }

  .btn-orange {
    background-color: #F58229;

    &:hover, &:focus {
      background-color: #EF7221;
    }
  }

  h1.page-header {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    line-height: normal;

    &:before {
      width: 4px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 4px;
      background-color: #F58229;
      content: '';
      display: table;
    }
  }

  .text-before-content {
    margin: 35px 0;
    font-size: 18px;

    p {
      font-size: 18px;
    }
  }

  ul.cadelectro-features {
    list-style-type: none;
    margin-left: -40px;

    li {
      background-image: url(../img/custom-li-disk.png);
      background-repeat: no-repeat;
      line-height: 30px;
      padding-left: 50px;
      margin-bottom: 27px;
    }
  }


  @import 'contacts.less';
  @import 'form.less';
  @import 'videos.less';
  @import 'sapr.less';
  @import 'contacts-mobile.less';
  @import 'form-mobile.less';
  @import 'videos-mobile.less';
  @import 'sapr-mobile.less';
  @import 'contacts-medium.less';
  @import 'form-medium.less';
  @import 'sapr-medium.less';
}

@import 'main-mobile.less';
@import 'main-medium.less';
